*
!config/**
!resources
!resources/*
!workflow
!workflow/**
!LICENSE
!README.md
!Dockerfile
!.gitignore
!.gitattributes
!.editorconfig
!.dockerignore
!.test
!.test/data/
!.test/data/**
!.test/resources/genome/Malus_domestica_cultivar_Golden_Delicious-chr4.fasta
!.gitlab-ci.yml
!shinyapp
!shinyapp/**
!docker-compose.yml
!slurmScript.sh