image: docker:19.03.12
services:
  - docker:19.03.12-dind
stages:
  - build # Build docker image
  - dry-run # To make sure it infers rules correctly
  - minimal-run # To make sure it executes correctly with a given set of parameters

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
 
before_script:
 - mkdir -p $(pwd)/.test
 - mkdir -p $(pwd)/dock_result/
 - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  script:
    - docker build --cache-from $IMAGE_TAG -t $IMAGE_TAG --build-arg USER_ID=$CI_JOB_ID --build-arg GROUP_ID=$CI_JOB_ID --build-arg USERNAME=$CI_JOB_NAME .
    - docker push $IMAGE_TAG
dry-run:
  stage: dry-run
  only:
    - development
  script:
    - docker pull $IMAGE_TAG
    - docker run --mount type=bind,src=$CI_PROJECT_DIR/.test,dst=/BiSSProP/.test $IMAGE_TAG -n --configfile .test/config/config.yaml

minimal-run:
  stage: minimal-run
  only:
    - master
  script:
    - docker pull $IMAGE_TAG
    - docker run --mount type=bind,src=$CI_PROJECT_DIR/.test,dst=/BiSSProP/.test $IMAGE_TAG --configfile .test/config/config.yaml --cores 6 --use-conda 
