*
!config/**
!*.tsv
!*.yaml
!resources
!resources/*
!workflow
!workflow/**
!LICENSE
!README.md
!Dockerfile
!.gitignore
!.gitattributes
!.editorconfig
!.dockerignore
!.test
!.test/comparison
!.test/data/
!.test/data/**
!.test/resources/genome/Malus_domestica_cultivar_Golden_Delicious-chr4.fasta
!.gitlab-ci.yml
!slurmScript.sh
!script.sh
!localScript.sh
!logs_slurm
!.gitkeep
!exec_scripts/
