#brand {
	margin: auto;
	height: 30px;
	width: 311px;
	background-repeat: no-repeat;
	background-size: 311px 30px;
	background-image: url("https://i.scdn.co/image/ab67706c0000bebbc11b72d82b22d1ac0fd25fe7");
}
